# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
.env/
.venv/

# Django
staticfiles/
media/

# SQLite database
/db.sqlite3

# Local env/secrets
env.py
*.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/