<!-- Load this script AFTER jQuery is loaded -->
<script>
    /* global $ */
    $(document).ready(function () {
        "use strict";

        function handleEnableDisable(itemId) {
            let currentValue = parseInt($(`#id_qty_${itemId}`).val(), 10);
            if (isNaN(currentValue)) return;

            let minusDisabled = currentValue < 2;
            let plusDisabled = currentValue > 98;

            $(`#decrement-qty_${itemId}`).prop("disabled", minusDisabled);
            $(`#increment-qty_${itemId}`).prop("disabled", plusDisabled);
        }

        let allQtyInputs = $(".qty_input");
        allQtyInputs.each(function () {
            let itemId = $(this).data("item_id");
            handleEnableDisable(itemId);
        });

        $(".qty_input").on("change", function () {
            let itemId = $(this).data("item_id");
            handleEnableDisable(itemId);
        });

        $(".increment-qty").on("click", function (e) {
            e.preventDefault();
            let closestInput = $(this).closest(".input-group").find(".qty_input")[0];
            let currentValue = parseInt($(closestInput).val(), 10);
            if (isNaN(currentValue)) return;

            $(closestInput).val(currentValue + 1);
            let itemId = $(this).data("item_id");
            handleEnableDisable(itemId);
            
            $(this).blur();
        });

        $(".decrement-qty").on("click", function (e) {
            e.preventDefault();
            let closestInput = $(this).closest(".input-group").find(".qty_input")[0];
            let currentValue = parseInt($(closestInput).val(), 10);
            if (isNaN(currentValue)) return;

            $(closestInput).val(currentValue - 1);
            let itemId = $(this).data("item_id");
            handleEnableDisable(itemId);

            $(this).blur();
        });
    });
</script>
