@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    height: 100%; 
    box-sizing: border-box; 
    scroll-behavior: smooth; 
    overflow-x: hidden; 
    
}

body {
    height: 100%;
    margin: 0; 
    padding: 0; 
    color: #555;
    font-family: 'Montserrat';

}

header {
    background-color: #ffffff; 
    color: #333333; 
    border-bottom: 1px solid #eaeaea; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
    padding: 15px 20px;
    position: sticky; 
    top: 0;
    z-index: 1030;

}

/* Secondary header styles */
nav.bg-light.border-top {
    background-color: #f8f9fa;
}

/* Navigation links styling */
.navbar-nav .nav-item .nav-link {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
}

.nav-link {
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: #007bff; /* Bootstrap Primary Color */
}

/* Dropdown Menu */
.dropdown-menu {
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Toggler button with burger icon */
.navbar-toggler {
    border: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px 10px;
    background-color: transparent;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Logo Font */
.logo-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}


/* Remove the arrow for specific dropdown */
.nav-link.dropdown-toggle.no-arrow::after {
    display: none !important;
}


.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* ---------------------------------------- Media Queries */

@media (max-width: 768px) {
    form .input-group {
        width: 100%;
    }

    form .btn {
        width: 100%; /* Make the button full-width */
        margin-top: 10px; /* Add spacing below the input field */
    }

    form {
        flex-direction: column; /* Stack items vertically */
        align-items: stretch; /* Align items to fill the container */
    }

}

@media (max-width: 991px) {
    /* Center toggler and stack links vertically */
    .navbar-toggler {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .search-group {
        flex-shrink: 1;
        margin: 3px;
    }

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .header-container {
        padding-top: 164px;
    }

    /* Hide the toggler and display links in a row */
    .navbar-toggler {
            display: none;
        }

    /* Ensure navbar-collapse displays links in a row */
    .navbar-collapse {
        display: flex !important; 
        justify-content: center; 
        align-items: center;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-item {
        margin-bottom: 0;
    }  
    

}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  


