{% extends "allauth/layouts/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner_content %}
<header>
    <h1>{% trans "Confirm your email" %}</h1>
    <p class="text-muted">{% trans "Complete your signup by verifying this address." %}</p>
</header>

{% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> belongs to user {{ user_display }}.{% endblocktrans %}</p>
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <div class="auth-actions">
            <button type="submit" class="btn btn-primary">{% trans 'Confirm email' %}</button>
        </div>
    </form>
{% else %}
    {% url 'account_email' as email_url %}
    <p>{% blocktrans %}This confirmation link has expired or is invalid. Please <a href="{{ email_url }}">request a new email</a>.{% endblocktrans %}</p>
{% endif %}

{% endblock %}
