{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e696cb5a12.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Jungle Peaks Brewing {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="bg-light border-bottom">
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black">
                <p class="logo-font my-1">Free delivery on orders over ${{ free_shipping_threshold }}!</p>                
            </div>            
        </div>
        <!-- Main Header Section -->
        <div class="container py-3">
            <div class="d-flex align-items-center justify-content-between">
                <!-- Brand -->
                <a href="{% url 'home' %}" class="text-decoration-none">
                    <h1 class="logo-font text-black m-0 fw-bold fs-3 fs-lg-1">Jungle Peaks</h1>
                </a>

                {% if request.resolver_match.url_name == 'products' %}
                <!-- Search Bar -->
                <div class="search-group col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}" class="d-lg-flex">
                        <div class="input-group w-100">
                            <input id="search-bar" class="form-control border border-black rounded-pill search-bar" type="text" name="q" placeholder="Go get some beer!">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-pill mx-3" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}

                <!-- Cart and Account Options -->
                <div class="d-flex align-items-center justify-content-between">
                    <!-- Shopping Bag -->
                    <a class="nav-link d-flex align-items-center me-4" href="#">
                        <i class="fas fa-shopping-bag fa-lg me-2"></i>
                        <span class="fw-bold">
                            {% if grand_total %}
                                £{{ grand_total|floatformat:2 }}
                            {% else %}
                                £0.00
                            {% endif %}
                        </span>
                    </a>
                
                    <!-- Account Dropdown -->
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center text-black" href="#" id="user-options" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user fa-lg me-2"></i>
                            <span>My Account</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <li><a href="#" class="dropdown-item">Product Management</a></li>
                                {% endif %}
                                <li><a href="#" class="dropdown-item">My Profile</a></li>
                                <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                                <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Secondary Header Section for Navigation -->
        <nav class="bg-light border-top">
            <div class="container py-3">
                <!-- Toggler (Centered Below 992px) -->
                <button class="navbar-toggler mb-2 mx-auto d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#secondary-nav" aria-controls="secondary-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
    
                <!-- Navigation Links -->
                <div class="collapse navbar-collapse" id="secondary-nav">
                    <ul class="navbar-nav d-flex justify-content-center align-items-center flex-lg-row flex-column">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link text-uppercase px-3 fw-bold">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'products' %}" class="nav-link text-uppercase px-3 fw-bold">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-uppercase px-3 fw-bold">Taproom</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-uppercase px-3 fw-bold">Tours & Tastings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  

    <footer>

    </footer>
  </body>
</html>



 
